absl-py~=0.9
asn1crypto~=1.2
astor~=0.8
attrs~=19.3
cachetools~=4.0
certifi~=2019.11
cffi~=1.13
chardet~=3.0
conda~=4.8
cryptography~=2.8
cycler~=0.10
gast~=0.2
google-auth~=1.10
google-auth-oauthlib~=0.4
google-pasta~=0.1
grpcio~=1.26
h5py~=2.10
idna~=2.8
importlib-metadata~=1.5
joblib~=0.14
Keras-Applications~=1.0
Keras-Preprocessing~=1.1
keyboard~=0.13
kiwisolver~=1.1
Markdown~=3.1
matplotlib~=3.1
more-itertools~=8.2
natsort~=7.0
numpy~=1.18
oauthlib~=3.1
opencv-python~=4.2.0
opt-einsum~=3.1
packaging~=20.3
pandas~=1.0
Pillow~=7.1
plotly~=4.5
pluggy~=0.13
portalocker~=1.5
protobuf~=3.11
py~=1.8
pyasn1~=0.4
pyasn1-modules~=0.2
pycosat~=0.6
pycparser~=2.19
pyOpenSSL~=19.1
pyparsing~=2.4
PySocks~=1.7
pytest~=5.4
python-dateutil~=2.8
pytz~=2019.3
PyYAML~=5.3
requests~=2.22
requests-oauthlib~=1.3
retrying~=1.3
rsa~=4.0
ruamel-yaml~=0.15
sacrebleu~=1.4
scikit-learn>=0.22.2.post1,<0.23
scipy~=1.4
sentencepiece~=0.1
six~=1.13
tensorboard~=2.1
tensorflow~=2.1
tensorflow-estimator~=2.1
termcolor~=1.1
torch~=1.4
torchtext~=0.5
torchvision~=0.5
tqdm~=4.40
typing~=3.7.4
urllib3~=1.25
warmup-scheduler~=0.1
wcwidth~=0.1
Werkzeug~=0.16
wrapt~=1.11
xmltodict~=0.12
zipp~=3.1
